In [11]:
import pandas as pd

df = pd.read_csv('20240108.csv')
a = len(df)
df

     aa                                             bb
0  2022  Engineering|Telecommunications|Transportation

In [14]:
for i in range(a):
    s = df.iloc[i,1]
    l = s.split("|")
    if len(l) > 1:
        df.iloc[i,1] = l[0]
        for item in range(len(l[1:])):
            new_row = df.iloc[i].copy()  # Copy the current row
            new_row[1] = l[1:][item]  # Replace the second column with the split data
            df = df.append(new_row, ignore_index=True)  # Append the new row to df
    if i % 500 == 0:
        print(f'Progress: {i/a*100:.2f}%')

Progress: 0.00%

In [15]:
df

     aa                  bb
0  2022         Engineering
1  2022  Telecommunications
2  2022      Transportation

In [10]:
df2

       aa                  bb
0  2022.0  Telecommunications
0  2022.0      Transportation
0  2022.0  Telecommunications
0  2022.0      Transportation