In [1]:
import pandas as pd

In [2]:
journals = [
    
]

# 现在，你有一个包含所有期刊名称的列表"journals"
df = pd.read_csv("task3.csv")
# 将J9列和journals列表中的值都转换为小写
df['J9'] = df['J9'].str.lower()
journals = [journal.lower() for journal in journals]
# 使用不在journals列表中的值筛选DataFrame
filtered_df = df[~df['J9'].isin(journals)]
# 使用布尔索引筛选出PY列中大于或等于2008且小于2023的行
filtered_df = filtered_df[(filtered_df['PY'] >= 2008) & (filtered_df['PY'] < 2024)]
#删除空值所在的行
filtered_df.dropna(inplace=True)
filtered_df

,Unnamed: 0,TI,AF,PY,RP,Z9,J9,num-Authors,num-Male,num-Female,num-Unknown
0,0,Food tracking and blockchain-induced knowledge...,"Rainero, Christian|Modarelli, Giuseppe",2021.0,"Modarelli, G (通讯作者)，Univ Torino, Dipartimento ...",7,brit food j,2,2,0,0
1,2,Intelligent design and implementation of block...,"Ren, Qilei|Man, Ka Lok|Li, Muqing|Gao, Bingjie...",2019.0,"Man, KL (通讯作者)，Xian Jiaotong Liverpool Univ, R...",6,int j distrib sens n,5,0,0,5
2,3,Technology for Social Good Foundations: A Pers...,"Quayson, Matthew|Bai, Chunguang|Sarkis, Joseph",2021.0,"Bai, CG (通讯作者)，Univ Elect Sci & Technol China,...",16,ieee t eng manage,3,2,0,1
3,4,RSETP: A Reliable Security Education and Train...,"Chen, Ran|Wu, Xiaoming|Liu, Xiangzhi",2023.0,"Wu, XM (corresponding author), Qilu Univ Techn...",0,electronics-switz,3,1,0,2
4,5,Formalizing commitments using the event calcul...,"de Kruijff, Joost|Weigand, Hans",2021.0,"de Kruijff, J (通讯作者)，Tilburg Univ, Tilburg, Ne...",0,appl ontol,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
13101,17785,Secure and Scalable mHealth Data Management Us...,"Motohashi, Tomomitsu|Hirano, Tomonobu|Okumura,...",2019.0,"Ueno, T (通讯作者)，SUSMED Inc, Chuo Ku, Nihonbashi...",15,j med internet res,6,3,1,2
13102,17787,Research on Collaborative Governance of Smart ...,"Shan, Shaonan|Duan, Xia|Zhang, Yin|Zhang, Ting...",2021.0,"Duan, X (通讯作者)，Capital Univ Econ & Business, S...",6,discrete dyn nat soc,5,0,3,2
13103,17788,Understanding decentralized autonomous organiz...,"Augustin, Nils|Eckhardt, Andreas|de Jong, Alex...",2023.0,"Augustin, N (corresponding author), Univ Innsb...",0,electron mark,3,3,0,0
13104,17789,Application of blockchain and smart contracts ...,"Arunmozhi, Manimuthu|Venkatesh, V. G.|Arisian,...",2022.0,"Arisian, S (通讯作者)，Trobe Univ, Trobe Business S...",1,transport res e-log,5,0,0,5
13105,17790,"Ban, Boom, and Echo! Entrepreneurship and Init...","Bellavitis, Cristiano|Cumming, Douglas|Vanacke...",2022.0,"Bellavitis, C (通讯作者)，Syracuse Univ, Whitman Sc...",16,entrep theory pract,3,3,0,0

In [3]:
# 提取RP列并重命名为RP'
filtered_df['RP\''] = filtered_df['RP'].str.split().str[-1]

# 提取其余PY列
py_columns = [col for col in filtered_df.columns if col.startswith('PY')]

# 创建新的DataFrame，包含RP'和PY列
new_df = filtered_df[['RP\''] + py_columns]

# 保存结果到新的CSV文件
new_df.to_csv('会_国家&年份.csv', index=False)

df1 = pd.read_csv('会_国家&年份.csv')
df1

                RP'      PY
0            Italy.  2021.0
1            China.  2019.0
2            China.  2021.0
3            China.  2023.0
4      Netherlands.  2021.0
...             ...     ...
13101        Japan.  2019.0
13102        China.  2021.0
13103      Austria.  2023.0
13104    Australia.  2022.0
13105          USA.  2022.0

[13106 rows x 2 columns]

In [4]:
df1['RP\''].value_counts()[:11]

China.        5146
USA.          1072
India.        1047
Korea.         532
England.       465
Australia.     445
Italy.         330
Canada.        273
Arabia.        242
Germany.       236
Spain.         236
Name: RP', dtype: int64